img{
    width:30%;
    height:30%;
    padding-left:45%;
    padding-top:5%;
}
table{
    right:90%; 
    bottom: 30%; 
    font-family: cursive; 
    font-size: 1em; 
    color: brown;
}
th{
    padding-left: 25%; 
    padding-top: 1%;
}
.info{
    background-color: blanchedalmond;
    opacity: 70%;
}